/*-------------------
    RESET
-------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------------
    DEBUG
-------------------*/
.logo {
    background-color: blue;
}

.link-pages {
    background-color: red;
    height: 90px;
}

.playlist {
    background-color: aqua;
}

.account {
    background-color: beige;
    height: 60px;
}
/*-------------------
    TYPO
-------------------*/
body {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/*-------------------
    HEADER
-------------------*/
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}

header .upgrade {
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 30px;
    color: inherit;
    font-size: 15px;
    margin-right: 5px;
}

/*-------------------
    MAIN
-------------------*/
main {
    background-color: #141922;
    height: calc(100vh - 90px);
    display: flex;
}

main .sidebar {
    height: 100%;
    width: 230px;
    background-color: black;
    z-index: 3;
    flex-shrink: 0;
    padding: 20px 20px 5px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar .logo {
    height: 50px;
}

.sidebar .playlist {
    flex-grow: 1;
    overflow-y: auto;
}

main .main-sections {
    overflow-y: auto;
}
/*-------------------
    FOOTER
-------------------*/
footer {
    height: 90px;
    background-color: #282828;
}